<%- include('./partials/head', {title: 'Home Page', cssFile: '/css/posts.css' }) %>

  <section class="d-flex my-3">
    <div class="container-fluid"> 
        <div class="row justify-content-center"> 
          <div class="modal modal-custom">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Delete comment <%= comment.id %></h5> 
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to delete this comment?</p>
                </div>
                <div class="modal-footer">
                  <form action="/comments/delete/<%= comment.id %>" method="POST">
                    <button type="submit" class="btn btn-primary">Yes</button> 
                  </form>
                  <a href="/comments/show/<%= comment.id %>">
                    <button role="button" class="btn btn-secondary">No</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
<%- include('./partials/footer') %>
